// fonts
$font-roboto-slab-bold:'Roboto Slab', serif; 
$font-roboto-regular: 'Roboto', sans-serif; ;


// colors
$color-bright-orange: #f26002;
$color-white: #ffffff;
$color-grey: #979797;
$color-greyish-brown: #4a4a4a;
$color-white-two: #f2f2f2;


