
.footer {
    background-color: $color-greyish-brown;
    color: $color-white;
    height: 465px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    bottom: 0;
    padding-top: 65px;
    
    @media(min-width: 768px){
        height: 240px;
        flex-wrap: wrap;
        padding-top: 56px;
        flex-direction: row;
        justify-content: space-around;
             
    }
    @media(min-width: 1280px){
        padding-top: 50px;

    }
    
    &__sections {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: $font-roboto-regular;
        line-height: 30px;
       
        
        @media(min-width: 768px){
            order:1;  
            padding-bottom: 34px;
                 
        }
 
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            text-align: center;

            @media(min-width: 768px){
                text-align: left;           
            }          
        }
    }

    &__sMedia {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: $font-roboto-regular;
        line-height: 30px;
        padding-top: 30px;

        @media(min-width: 768px){
            order:3;
            padding-top: 0px;
            padding-right: 69px;
            padding-left: 30px;
            
        }
        @media(min-width: 1280px){
            padding-right: 370px;
            padding-left: 30px;
    
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            text-align: center;

            @media(min-width: 768px){
                text-align: left;
            }
        }
    }

    &__copy {
        font-size: 1.4rem;
        font-family: $font-roboto-regular;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 32px ;
        padding-bottom: 36px;

        @media(min-width: 768px){
            order:0;
            text-align: left;
            padding-top: 0px;

        }
        @media(min-width: 1280px){
            padding-left: 370px;
            padding-right: 31px;
    
        }
    }

    &__up {
        width: 45px;
        height: 45px;
        background-color: $color-white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 22.5px;

        img {
            width: 21px;
            height: 24px;
        }

    }
    a {
        text-decoration: none;
        color: inherit;
        
    }

    &__heart {
        color: $color-bright-orange;
    }
}