<footer class="footer">

    <a href="#">
        <figure class="footer__up">
            <img  src="../images/ico-arrow.svg" alt="up">
        </figure>
    </a>
    
    <section class="footer__sections">
        <ul>
            <a href="https://adalab.es/">
            <li>Zapatillas</li>
            </a>

            <a href="https://adalab.es/">
            <li>Ropa</li>
            </a>
            <a href="https://adalab.es/">
            <li>Niño/a</li>
            </a>
            <a href="https://adalab.es/">
            <li>Destacados</li>
            </a>

            <a href="https://adalab.es/">
            <li>Tips</li>
            </a>
        </ul>
    </section>

    <section class="footer__sMedia"> 
        <ul >
            <a href="https://adalab.es/">
            <li>Twitter</li>
            </a>

            <a href="https://adalab.es/">
            <li>Instagram</li>
            </a>

            <a href="https://adalab.es/">
            <li>Youtube</li>
            </a>
        </ul>
    </section>
    
    <section class="footer__copy">
        <p>©2023</p>
        <p>we <span class="footer__heart">❤</span> run</p>
    </section>

</footer>