<header id="top" class="header">
    <a href="https://adalab.es/" target="_blank">
        <figure class="header__menu">
            <img  src="/images/ico-menu.svg" alt="Menu">
        </figure>
    </a>

    <section class="header__discount">
        <h1 >Hasta un 50% de descuento</h1>
        <p>Ya estan aqui las ofertas de fin de temporada</p>

        <a href="#year">
            <figure class="header__scroll">
                <img src="/images/ico-scroll-down.svg" alt="scroll">
             </figure>
        </a>
    </section>

</header>