<section id="year" class="year">

  <h2 class="year__maintitle">Año nuevo, movimientos nuevos</h2>
  <div class="year__articles">
    <article>
      <h3>Entrenamientos</h3>
      <p>Sesiones de running y entrenamientos</p>
    </article>

    <article>
      <h3>Cualquier nivel</h3>
      <p>Entrenamientos para cada nivel</p>
    </article>

    <article>
      <h3>Exclusividad</h3>
      <p>Productos para miembros premium</p>
    </article>
  </div>

  <a href="https://adalab.es/">
    <button class="year__button">Empezar ahora</button>
  </a> 
</section>
